<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/CSS/dashboard.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,600" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.selectric/1.10.1/selectric.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css
    ">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css"
        integrity="...">
</head>

<body>
    <%- include("./Partials/dashPartial.ejs") %>
    <%
    let staff = []
    let guests = []
    for(let i = 0; i < users.length; i++){
        if(users[i].role == "Guest"){
            guests.push(users[i])
        }else{
            staff.push(users[i])
        }
    }
    let profit =0;
    let ongoing = 0 
    const currentDate = new Date()
    for(let i = 0; i < reservations.length; i++){
        profit += parseFloat(reservations[i].price)
         if (currentDate < reservations[i].departureDate)
            ongoing++
    }
    

    %>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 my-3">
            <div class="card-list">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                        <div class="card blue">
                            <div class="title">All Bookings</div>
                            <i class="zmdi zmdi-upload"></i>
                            <div class="value">
                                <%=reservations.length%>
                            </div>
                        </div>
                    
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                         
                        <div class="card purple">
                            <div class="title">Total profit</div>
                            <i class="zmdi zmdi-download"></i>
                            <div class="value">$<%=profit.toFixed(2)%></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                        <div class="card red">
                            <div class="title">Registered guests</div>
                            <i class="zmdi zmdi-download"></i>
                            <div class="value"><%=guests.length%></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="reservations mb-4">
                <div class="reservations-inner">
                    <header class="reservations-header">
                        <div class="title">Ongoing Booking</div>
                        <div class="count">| <%=ongoing %> Bookings</div>
                        <i class="zmdi zmdi-download"></i>
                        <div class="col-auto">
                            <button class="btn btn-success" onclick="addReservationRow()">Add Reservation</button>
                        </div>
                        <div class="col-auto" id="saveButtonContainer" style="display: none;">
                            <button id="saveButton" class="btn btn-primary" onclick="saveReservationRow()">Save</button>
                        </div>
                    </header>
                    <table class="projects-table" id="reservationsTable">   >
                        <thead>
                            <tr>
                                <th>Room Title</th>
                                <th>Guest Email</th>
                                <th>Arrival Date</th>
                                <th>Departure Date</th>
                                <th>Price</th>
                                <th>Number of Adults</th>
                                <th>Number of Children</th>
                                <th>Payment Status</th>
                                <th>Options</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% reservations.forEach(function(reservation) { %>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control" title="<%= reservation.roomTitle %>" value="<%= reservation.roomTitle %> " readonly>
                                    </td> 
                                    <td><input type="text" class="form-control" value="<%= reservation.guestEmail %>"
                                            readonly></td>
                                    <td><input type="text" class="form-control" value="<%= reservation.arrivalDate %>"
                                            readonly></td>
                                    <td><input type="text" class="form-control" value="<%= reservation.departureDate %>"
                                            readonly></td>
                                    <td><input type="text" class="form-control" value="<%= reservation.price %>"
                                            readonly></td>
                                    <td><input type="text" class="form-control"
                                            value="<%= reservation.numberOfAdults %>" readonly></td>
                                    <td><input type="text" class="form-control"
                                            value="<%= reservation.numberOfChildren %>" readonly></td>
                                    <td><input type="text" class="form-control" value="<%= reservation.paid %>"
                                            readonly></td>
                                            <td>
                                                <% if(reservation.options ){%>
                                                <div class="dropdown-container">
                                                    <select class="form-control dropdown-content" multiple>
                                                        <% for (let j=0; j < reservation.options.length; j++) { %>
                                                            <option value="<%= reservation.options[j].option %>">
                                                                <%= reservation.options[j].option %>
                                                            </option>
                                                            <% }%>
                                                    </select>
                                                </div>
                                                <%} else {%><input type ="text" value="None" readonly><%}%>
                                            </td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <button class="btn btn-primary" style="margin-right: 10px;"
                                                onclick="toggleReadOnly(this)">Edit</button>
                                                <button class="btn btn-danger" onclick="deleteReservationRow(this)">Delete</button>
                                        </div>
                                    </td>
                                </tr>
                                <% }); %>
                                <!-- Correct the ID to match the one used in the JavaScript code -->
<p id="errorMessage" class="alert alert-danger" style="display: none;"></p>


                        </tbody>
                    </table>
        </main>
        </div>
        </div>
        <script src="/JS/dashboard.js"></script>
</body>

</html>