<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%
    if(user == "")
        user= {firstName:"Firstname",lastName: "Lastname", role:"Guest", email:"example@gmail.com", phone:"(097) 234-5678", address:"Bay Area, San Francisco, CA", bio:"Account bio to be inserted here", twitter:"@example.com", facebook:"@example.com", instagram:"@example.com" , google:"@example.com"};
        user.name = user.firstName +" " + user.lastName
        if(user.bio =='') user.bio="Add your bio"
        if(user.twitter =='') user.twitter="Link your twitter account"
        if(user.facebook =='') user.facebook="Link your facebook account"
        if(user.instagram =='') user.instagram="Link your instagram account"
        if(user.google =='') user.google="Link your google account"

     %>
    <title><%=user.name%></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="/CSS/myProfile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>

<body>
<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page"><%=user.role%> Profile</li>
            </ol>
          </nav>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="/IMAGES/user.png" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3"><%=user.name%></h5>
              <p class="text-muted mb-1"><%=user.bio%></p>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <ul class="list-group list-group-flush rounded-3">
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="23" height="23" viewBox="0 0 48 48">
                        <path fill="#FFC107" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path><path fill="#FF3D00" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path><path fill="#4CAF50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path><path fill="#1976D2" d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path>
                        </svg>
                  <p class="mb-0"><%=user.google%></p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                  <p class="mb-0"><%=user.twitter%></p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                  <p class="mb-0"><%=user.instagram%></p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                  <p class="mb-0"><%=user.facebook%></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <div>
                  <p id="fullName"  style="display: inline;" class="text-muted mb-0"><%=user.name%> </p>
                  <img src= "/IMAGES/edit.png" class="editLogo" alt="edit button" onclick="
                  
                  var array = document.getElementsByClassName('name');
                  for (let i = 0; i < array.length; i++) {
                    array[i].style.visibility = 'visible';
                    
                  }">
                  </div>
                  <label class="name " style="visibility:hidden;">first name</label >
                  <input id="firstName" type="text" style="visibility:hidden;"  class="edited name">
                  <br>
                  <label class="name" style="visibility:hidden;">last name</label>
                  <input id="lastName" type="text" style="visibility:hidden; "  class="edited name">
                  <button style="visibility: hidden;" class="name" onclick="
                    const firstNameElement = document.getElementById('firstName');
                    const lastNameElement = document.getElementById('lastName');
                    const fullNameElement = document.getElementById('fullName');
                    fullNameElement.innerText = firstNameElement.value + ' ' + lastNameElement.value;
                  
                  ">EDIT</button>

                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <div>
                  <p id="email" style="display: inline;" class="text-muted mb-0"><%=user.email%> </p> 
                  <img src="/IMAGES/edit.png" class="editLogo" alt="edit button" onclick = "var array = document.getElementsByClassName('emailEdit');
                    for (let i = 0; i < array.length; i++) {
                      array[i].style.visibility = 'visible';
                      
                    }">
                  </div>

                  <input id="emailEdit" type="email" style="visibility:hidden; " class="edited emailEdit">
                  <button style="visibility: hidden;" class="emailEdit" onclick="
                    const emailElement = document.getElementById('email');
                    const emailEditElement = document.getElementById('emailEdit');
                    emailElement.innerText = emailEditElement.value;
                  
                  ">EIDT</button>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone Number</p>
                  
                </div>
                <div class="col-sm-9">
                  <div>
                  <p id="phoneNumber" style="display: inline;" class="text-muted mb-0"><%=user.phone%> </p>
                  <img src="/IMAGES/edit.png" class="editLogo" alt="edit button" onclick = "var array = document.getElementsByClassName('phoneEdit');
                    for (let i = 0; i < array.length; i++) {
                      array[i].style.visibility = 'visible';
                      
                    }">
                    </div>
                    <input id="phoneEdit" type="text" style="visibility: hidden; " class="edited phoneEdit">
                  <button style="visibility: hidden;" class="phoneEdit centre" onclick="
                    const phoneElement = document.getElementById('phoneNumber');
                    const phoneEditElement = document.getElementById('phoneEdit');
                    phoneElement.innerText = phoneEditElement.value;

                  ">EDIT3</button>
                  
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                  
                </div>
                <div class="col-sm-9">
                  <div>
                  <p style="display: inline;" id="address"text-muted mb-0"><%=user.address%></p>
                  <img src="/IMAGES/edit.png" class="editLogo" alt="edit button" onclick = "var array = document.getElementsByClassName('editAddress');
                    for (let i = 0; i < array.length; i++) {
                      array[i].style.visibility = 'visible';
                      
                    }">
                  </div>
                  <input type="text" style="visibility: hidden;" id="editAddress" class="edited editAddress">
                  <button style="visibility: hidden;" onclick=" const addressElement = document.getElementById('address');
                  const editAddressElement = document.getElementById('editAddress');
                  addressElement.innerText = editAddressElement.value; 
                  console.log(addressElement.value);" id="editAddress
                  " class="editAddress">EsDIT</button>
                </div>
              </div>
            </div>
            <div class="buttonContainer">
              <button class="editBtn"  title="Edit" ><i class="fa-solid fa-user-pen"style="margin-right: 5px;"></i> Edit Profile</button>
              <button class="deleteBtn" title="Delete" onclick="document.getElementById('del').submit()"> Delete Profile <i class="fa-solid fa-trash" style="margin-left: 5px;"></i></button>
              <form method="POST" action="/guest/delete" id='del' style="visibility:hidden">
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4"><span class="text-primary font-italic me-1">Previous Bookings</span>
                  </p>
                  <p class="mb-1" style="font-size: .77rem;">DATE 20/20/23</p>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">DATE 20/20/23</p>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">DATE 20/20/23</p>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">DATE 20/20/23</p>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">DATE 20/20/23</p>
                  </div>
                </div>
              </div>
            
            <div class="col-md-6">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4"><span class="text-primary font-italic me-1">Active Bookings</span>
                  </p>
                  <p class="mb-1" style="font-size: .77rem;">DATE 20/20/23</p>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">DATE 20/20/23</p>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">DATE 20/20/23</p>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">DATE 20/20/23</p>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">DATE 20/20/23</p>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <form action="" style="visibility: hidden;">
        <input type="text" style="visibility: hidden;" name="firstName" class="hidden">
        <input type="text" style="visibility: hidden;" name="lastName" class="hidden">
        <input type="email" style="visibility: hidden;" name="email" class="hidden">
        <input type="text" style="visibility: hidden;" name="phoneNumber" class="hidden">
        <input type="text" style="visibility: hidden;" name="address" class="hidden">
      
      </form>
    </div>
  </section>