<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Options</title>
    <link rel="stylesheet" href="/CSS/dashboard.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,600" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.selectric/1.10.1/selectric.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/CSS/characteristics.css">
</head>

<body>
    <%- include("./Partials/dashPartial.ejs") %>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 my-3">
            <div class="container">
                <div class="title-strap">

                    <h2>Basma's Options</h2>
                </div>
                <div class="row justify-content-end mb-3">
                    <div class="col-auto">
                        <button class="btn btn-success" onclick="addOptionRow()">Add Option</button>
                    </div>
                    <div class="col-auto" id="saveButtonContainer" style="display: none;">
                        <button class="btn btn-primary" onclick="saveOptionRow()">Save</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="options-table" id="optionTable">
                        <thead>
                            <tr>
                                <th>Option</th>
                                <th>Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%let i =0;options.forEach(function(option) { i++;%>
                                <tr>
                                    
                                    <td><input type="text" class="form-control" value="<%= option.option %>" readonly>
                                    </td>
                                    <td><input type="text" class="form-control" value="<%= option.price %>" readonly>
                                    </td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <form method="post" action="/admin/removeOption" >
                                                <input type="hidden" name="option" value="<%= option.option %>" >  
                                                
                                            <button type ='submit' class="btn btn-primary" style="margin-right: 10px;"
                                                onclick="toggleReadOnly(this)">Edit</button>
                                                <form method="post" action="/admin/removeOption" >
                                                    <input type="hidden" name="option" value="<%= option.option %>" >
                                                    <button class="btn btn-danger" type="submit">Delete</button>
                                                </form>
                                            
                                        </div>
                                    </td>
                                    
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                    <div id="errorMessage" style="color: red;"></div>
                </div>
            </div>
        </main>
        </div>
        </div>
        <script src="/JS/options.js"></script>
</body>

</html>