<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms</title>
    <link rel="stylesheet" href="/CSS/dashboard.css">
    <link rel="stylesheet" href="/CSS/rooms.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,600" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.selectric/1.10.1/selectric.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">


</head>

<body>
    <nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0">
        <a class="navbar-brand mx-auto" href="#">
            <img id="MDB-logo" src="/IMAGES/download-removebg-preview.png" alt="Basma Hotel Logo" draggable="false"
                height="40" />
            Basma Hotel
        </a>

        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign out</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">
                                Reservations
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/guests">
                                Guests
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/admin/rooms">
                                Rooms
                            </a>
                        </li>
                    </ul>

                    <h6
                        class="sidebar-heading d-flex justify-content-between align-items-center pl-3 mt-4 mb-1 text-muted">
                        <span>Saved reports</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            <i class="zmdi zmdi-plus-circle-o"></i>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/charecteristics">
                                <i class="zmdi zmdi-file-text"></i>
                                charecteristics
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/options">
                                Options
                            </a>
                        </li>

                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 my-3">
                <div class="container">
                    <h2>Basma's Rooms</h2>
                    <div class="row justify-content-end mb-3">
                        <div class="col-auto">
                            <button class="btn btn-success" onclick="addRoomRow()">Add Room</button>
                        </div>
                        <div class="col-auto" id="saveButtonContainer" style="display: none;">
                            <button class="btn btn-primary" onclick="saveRoomRow()">Save</button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="roomTable">
                            <thead>
                                <tr>
                                    <th>Title </th>

                                    <th>Quantity</th>
                                    <th>Starting Price</th>
                                    <th>Capacity</th>
                                    <th>Description</th>
                                    <th>Executive</th>
                                    <th>Charecteristics</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (let i=0; i < rooms.length; i++) { %>
                                    <tr>
                                        <td><input type="text" class="form-control" value="<%= rooms[i].Title %>"
                                                readonly></td>
                                        <td><input type="text" class="form-control" value="<%= rooms[i].quantity %>"
                                                readonly></td>
                                        <td><input type="text" class="form-control"
                                                value="<%= rooms[i].startingPrice %>" readonly></td>
                                        <td><input type="text" class="form-control" value="<%= rooms[i].capacity %>"
                                                readonly></td>
                                        <td><input type="text" class="form-control" value="<%= rooms[i].description %>"
                                                readonly></td>

                                        <td
                                            style="display: flex; align-items: center; justify-content: center; padding-bottom: 40%;">
                                            <% if (rooms[i].executive=="1" ) { %>
                                                <i class="fas fa-check-circle"
                                                    style="color: green; font-size: large;"></i>
                                                <% } else { %>
                                                    <i class="fas fa-times-circle"
                                                        style="color: red; font-size: large;"></i>
                                                    <% } %>
                                        </td>
                                        <td><input type="text" class="form-control" value="Add charecteristics here"
                                                readonly></td>
                                        <td>
                                            <div class="btn-group" role="group">
                                                <button class="btn btn-primary" style="margin-right: 10px;"
                                                    onclick="toggleReadOnly(this)">Edit</button>
                                                <button class="btn btn-danger"
                                                    onclick="deleteRoomRow(this)">Delete</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                        <div id="errorMessage" style="color: red;"></div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="/JS/rooms.js"></script>
</body>

</html>