<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= room.Title %>
    </title>
    <link rel="stylesheet" href="/CSS/room.css">
</head>

<body>
    <header class="room-header">
        <h1>
            <%= room.Title %>
        </h1>
    </header>

    <div class="room-details">
        <div class="room-image">
            <% const newImagePath=room.imageURL.substring(15); %>
                <img src="/IMAGES/ROOMS/<%=newImagePath%>" alt="<%= room.Title %>">
        </div>
        <div class="room-description">
            <h2>Description</h2>
            <p>
                <%= room.description %>
            </p>

            <h2>Room Details</h2>
            <ul>
                <li>Quantity: <%= room.quantity %>
                </li>
                <li>Capacity: <%= room.capacity %> people</li>
                <li>Starting Price: $<%= room.startingPrice %> per night</li>
                <li>
                    <%= room.executive ? 'Executive Club Room' : 'Basma Hotel Room' %>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>