<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= room.Title %>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-TDk5lZuPf3dIjwWS6vjo5er1e3I9Xn2V/9j8h1N7DgDOWzIuXW+56WZdQDd21h9N" crossorigin="anonymous">
    <link rel="stylesheet" href="/CSS/room.css">
</head>

<body>
    <header class="room-header">
        <h1>
            <%= room.Title %>
        </h1>
    </header>

    <div class="room-container">
        <div class="slideshow">
            <% const imagePaths = ["/IMAGES/IMG-20231010-WA0066.jpg", "/IMAGES/IMG-20231011-WA0002.jpg", "/IMAGES/IMG-20231011-WA0001.jpg"]; %>
            <% imagePaths.forEach((image, index) => { %>
                <img src="<%= image %>" alt="Slide <%= index + 1 %>" class="<%= index === 0 ? 'active' : '' %>">
            <% }); %>
        </div>

        <div class="card-container">
            <div class="room-description">
                <h2>Description</h2>
                <p>
                    <%= room.description %>
                </p>
                <p>
                    <p>
                        <p>
                            <% if (room.characteristics) { %>
                                <% console.log("Room Characteristics:", room.characteristics); %>
                                <% try { %>
                                    <% const characteristicsArray = JSON.parse(room.characteristics); %>
                                    <% characteristicsArray.forEach(characteristic => { %>
                                        <% const characteristicWithoutSpaces = characteristic.replace(/\s/g, ''); %>
    
                                        <% if (characteristicWithoutSpaces === 'NileRiverView') { %>
                                            <i class="fa-solid fa-water" title="<%= characteristic %>"
                                                id="<%= characteristicWithoutSpaces %>"></i>
                                        <% } else if (characteristicWithoutSpaces === 'LargeTerrace') { %>
                                            <i class="fa-solid fa-umbrella-beach" title="<%= characteristic %>"
                                                id="<%= characteristicWithoutSpaces %>"></i>
                                        <% } else if (characteristicWithoutSpaces === 'PoolView') { %>
                                            <i class="fa-solid fa-water-ladder" title="<%= characteristic %>"
                                                id="<%= characteristicWithoutSpaces %>"></i>
                                        <% } else if (characteristicWithoutSpaces === 'WiFi') { %>
                                            <i class="fa-solid fa-wifi" title="<%= characteristic %>"
                                                id="<%= characteristicWithoutSpaces %>"></i>
                                        <% } else if (characteristicWithoutSpaces === 'TV') { %>
                                            <i class="fa-solid fa-tv" title="<%= characteristic %>"
                                                id="<%= characteristicWithoutSpaces %>"></i>
                                        <% } else if (characteristicWithoutSpaces === 'Bathtub') { %>
                                            <i class="fa-solid fa-bath" title="<%= characteristic %>"
                                                id="<%= characteristicWithoutSpaces %>"></i>
                                        <% } else if (characteristicWithoutSpaces === 'CentralAirConditioning') { %>
                                            <i class="fa-solid fa-snowflake" title="<%= characteristic %>"
                                                id="<%= characteristicWithoutSpaces %>"></i>
                                        <% } else if (characteristicWithoutSpaces === 'Minibar') { %>
                                            <i class="fa-solid fa-beer-mug-empty" title="<%= characteristic %>"
                                                id="<%= characteristicWithoutSpaces %>"></i>
                                        <% } else if (characteristicWithoutSpaces === 'Non-Smoking') { %>
                                            <i class="fa-solid fa-ban-smoking" title="<%= characteristic %>"
                                                id="<%= characteristicWithoutSpaces %>"></i>
                                        <% } else if (characteristicWithoutSpaces === 'ComplementryTeaAndCoffee') { %>
                                            <i class="fa-solid fa-mug-hot" title="<%= characteristic %>"
                                                id="<%= characteristicWithoutSpaces %>"></i>
                                        <% } else if (characteristicWithoutSpaces === '24HourRoomService') { %>
                                            <i class="fa-solid fa-utensils" title="<%= characteristic %>"
                                                id="<%= characteristicWithoutSpaces %>"></i>
                                        <% } else if (characteristicWithoutSpaces === 'CityView') { %>
                                            <i class="fa-solid fa-city" title="<%= characteristic %>"
                                                id="<%= characteristicWithoutSpaces %>"></i>
                                        <% } else if (characteristicWithoutSpaces === 'AdditionalFeature') { %>
                                            <i class="fa-solid fa-cube" title="<%= characteristic %>"
                                                id="<%= characteristicWithoutSpaces %>"></i>
                                        <% } else if (characteristicWithoutSpaces === 'NumberOfPeople') { %>
                                            <i class="fa-solid fa-person" title="<%= characteristic %>"
                                                id="<%= characteristicWithoutSpaces %>"></i>
                                        <% } %>
                                        <% console.log(characteristicWithoutSpaces); %>
                                    <% }); %>
                                    <% let num = room.capacity; %>
                                    <% if (num == 3) { %>
                                        <i class="fa-regular fa-3" title="Number of people"></i>
                                    <% } else { %>
                                        <i class="fa-regular fa-4" title="Number of people"></i>
                                    <% } %>
    
                                    <% const lastCharacteristic = characteristicsArray[characteristicsArray.length - 1]; %>
                                    <% if (lastCharacteristic) { %>
                                        <% const characteristicWithoutSpaces = lastCharacteristic.replace(/\s/g, ''); %>
                                        <i class="fa-solid fa-cube" title="<%= lastCharacteristic %>"
                                            id="<%= characteristicWithoutSpaces %>"></i>
                                    <% } %>
    
                                <% } catch (error) { %>
                                    <% console.log("Error parsing characteristics:", error); %>
                                <% } %>
                            <% } else { %>
                                <script>
                                    console.warn('Room characteristics is not defined or empty.');
                                </script>
                            <% } %>
                        </p>
                    </p>
                </p>
                <hr>
                <h2>Room Details</h2>
                <ul>
                    <li>Quantity: <%= room.quantity %>
                    </li>
                    <li>Capacity: <%= room.capacity %> people</li>
                    <li>Starting Price: $<%= room.startingPrice %> per night</li>
                    <li>
                        <%= room.executive ? 'Executive Club Room' : 'Basma Hotel Room' %>
                    </li>
                </ul>
            </div>

            <div class="booking-form">
                <form action="/guest/reserve" method="POST">
                    <input type="hidden" name="room" value="<%= room.Title %>">
                    <label for="arrivalDate">Arrival Date:</label>
                    <input type="date" id="arrivalDate" name="arrivalDate" required>
                    <br>
                    <label for="departureDate">Departure Date:</label>
                    <input type="date" id="departureDate" name="departureDate" required>
                    <br>
                    <input type="submit" value="Book Now">
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-hltH8+egGgzLb8POh+Awg5bCJSAC4LrQfYJle8yFDqDPu7qiqwK2D27fYdh5LqNT"
        crossorigin="anonymous"></script>

    <script src="/JS/room.js"></script>
    <script>
    </script>
</body>

</html>