<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>users</title>
    <link rel="stylesheet" href="/CSS/dashboard.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,600" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.selectric/1.10.1/selectric.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/CSS/users.css">
</head>

<body>
    <%- include("./Partials/dashPartial.ejs") %>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 my-3">
            <div class="container">
                <div class="title-strap">
                    <h2>Basma's users</h2>
                </div>
                <div class="row justify-content-end mb-3">
                    <div class="col-auto">
                        <button class="btn btn-success" onclick="addGuestRow()">Add Guest</button>
                    </div>
                    <div class="col-auto" id="saveButtonContainer" style="display: none;">
                        <button class="btn btn-primary" onclick="saveGuestRow()">Save</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="guests-table" id="guestTable">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Password</th>
                                <th>Phone</th>
                                <th>Role</th>
                                <th>Bio</th>
                                <th>Address</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% users.forEach(function(usersa) { %>
                                <tr>
                                    <td><input type="text" class="form-control" value="<%= usersa.firstName %>" readonly>
                                    </td>
                                    <td><input type="text" class="form-control" value="<%= usersa.lastName %>" readonly>
                                    </td>
                                    <td><input type="text" class="form-control" value="<%= usersa.email %>" readonly>
                                    </td>
                                    <td><input type="text" class="form-control" value="<%= usersa.password %>" readonly>
                                    </td>
                                    <td><input type="text" class="form-control" value="<%= usersa.phoneNumber %>"
                                            readonly>
                                    </td>
                                    <td><input type="text" class="form-control" value="<%= usersa.role %>" readonly>
                                    </td>
                                    <td><input type="text" class="form-control" value="<%= usersa.bio %>" readonly>
                                    </td>
                                    <td><input type="text" class="form-control" value="<%= usersa.address %>" readonly>
                                    </td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <button class="btn btn-primary" style="margin-right: 10px;"
                                                onclick="toggleReadOnly(this)">Edit</button>
                                                <form action="/admin/removeUser" method="post">
                                                    <input type="hidden" name="email" value="<%= usersa.email %>">
                                            <button class="btn btn-danger"
                                                type="submit">Delete</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                    <div id="errorMessage" style="color: red;"></div>
                </div>
            </div>
        </main>
        </div>
        </div>
        <script src="/JS/users.js"></script>
</body>

</html>